p#notice= notice
p
  strong= t('.car_type')
  = @car.type
= render @car.type.underscore
= link_to t('.to_train'), admin_train_cars_path(@train, car)
= link_to t('common.back'), admin_train_cars_path(@train)
