<h1>Привет, Rails!</h1>
<p>
  Перейти на:
  <ul>
    <li><a href="http://localhost:3000/searches"> поиск билетов </a></li>
    <li><a href="http://localhost:3000/trains"> поезда </a></li>
    <li><a href="http://localhost:3000/railway_stations"> станции </a></li>
    <li><a href="http://localhost:3000/routes"> маршруты </a></li>
    <li><a href="http://localhost:3000/tickets"> билеты </a></li>
  </ul>
</p>
