<h1>Привет, Rails!</h1>
<p>
  Перейти на:
  <table>
    <td>
      <a href="http://localhost:3000/trains"> поезда </a>
    </td>
    <td>
      <a href="http://localhost:3000/railway_stations"> станции </a>
    </td>
    <td>
      <a href="http://localhost:3000/routes"> маршруты </a>
    </td>
</table>
</p>
