<tr>
  <td><%= ticket.start_station.title %> - <%= ticket.end_station.title%></td>
  <td><%= link_to 'Паказать', ticket %></td>
  <td><%= link_to 'Удалить', ticket, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
