<p id="notice"><%= notice %></p>

<h1>Список купленных билетов</h1>

<table>
  <thead>
    <tr>
      <th>Маршрут</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br>

<a href="http://localhost:3000/searches"> Купить билет </a> 
