<table style="width:30%">
  <tr>
    <th> Верхние места</th>
    <th> Нижние места </th>
    <th> Боковые верхние места </th>
    <th> Боковые нижние места </th>
  </tr>
  <tr>
    <th> <%= @car.top_seats %> </th>
    <th> <%= @car.bottom_seats %> </th>
    <th> <%= @car.side_top_seats %> </th>
    <th> <%= @car.side_bottom_seats %> </th>
  </tr>
</table>

<style>
table, th {
    border: 1px solid black;
}
</style>
